[workspace]
members = ["fmi", "fmi-schema", "fmi-sim", "fmi-sys", "fmi-test-data"]
resolver = "2"

[workspace.package]
license = "MIT OR Apache-2.0"
edition = "2021"
authors = ["John Hughes <jondo2010@gmail.com>"]
repository = "https://github.com/jondo2010/rust-fmi"
keywords = ["model", "ode", "modelica"]
categories = ["science", "simulation"]
homepage = "https://github.com/jondo2010/rust-fmi"
include = [
    "Cargo.toml",
    "benches/*.rs",
    "examples/*.rs",
    "src/**/*.rs",
    "tests/*.rs",
    "build.rs",
]

[workspace.dependencies]
anyhow = { version = "1.0.82" }
arrow = { version = "53.0" }
document-features = "0.2"
fmi = { path = "fmi", version = "0.4.0" }
fmi-schema = { path = "fmi-schema", version = "0.2.0", default_features = false }
fmi-sim = { path = "fmi-sim", version = "0.1.0" }
fmi-sys = { path = "fmi-sys", version = "0.1.1" }
fmi-test-data = { path = "fmi-test-data", version = "0.1.0" }
itertools = "0.12"
libloading = "0.8"
tempfile = "3.1"
test-log = { version = "0.2", features = ["trace"] }
thiserror = "1.0"
zip = "2.0"

[patch.crates-io]
#arrow = { git = "https://github.com/jondo2010/arrow-rs.git", branch = "fine_grained_integer_inference" }

[package]
name = "fmi-workspace"
version = "0.0.0"
publish = false

[dev-dependencies]
fmi = { workspace = true }
fmi-test-data = { workspace = true }
test-log = { workspace = true }
