[workspace]
members = ["fmi-schema", "fmi-sim", "fmi-sys"]

[workspace.package]
license = "MIT OR Apache-2.0"
version = "0.3.0"
edition = "2021"
authors = ["John Hughes <jondo2010@gmail.com>"]
repository = "https://github.com/jondo2010/rust-fmi"
keywords = ["model", "ode", "modelica"]
categories = ["science", "simulation"]

[workspace.dependencies]
arrow = { version = "49.0" }
document-features = "0.2"
fmi = { path = "." }
fmi-schema = { path = "fmi-schema" }
fmi-sys = { path = "fmi-sys" }
itertools = "0.12"
libloading = "0.8"
test-log = { version = "0.2", features = ["trace"] }

[package]
name = "fmi"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
package.workspace = true
keywords.workspace = true
categories.workspace = true
include = [
    "/Cargo.toml",
    "/LICENSE-APACHE",
    "/LICENSE-MIT",
    "/README.md",
    "/build.rs",
    "/examples/**",
    "/src/**",
]
description = "A Rust interface to FMUs (Functional Mockup Units) that follow the FMI Standard. See http://www.fmi-standard.org/"
readme = "README.md"

[features]
default = ["fmi2", "fmi3", "arrow"]
## Enable support for FMI 2.0
fmi2 = ["libc"]
## Enable support for FMI 3.0
fmi3 = []
## Enable support for Apache Arrow Schema
arrow = ["dep:arrow"]

[dependencies]
arrow = { workspace = true, optional = true }
document-features = { workspace = true }
fmi-schema = { workspace = true }
fmi-sys = { workspace = true }
itertools = { workspace = true }
# Note: libc is only used for FMI 2.0 support, needed for alloc
libc = { version = "0.2", features = ["align"], optional = true }
libloading = { workspace = true }
log = { version = "0.4", features = ["std", "serde"] }
tempfile = "3.1"
thiserror = "1.0"
url = "2.2"
zip = "0.6"

[build-dependencies]
built = "0.7"

[dev-dependencies]
assert_approx_eq = "1.1"
env_logger = "0.10"
test-log = { workspace = true }

[patch.crates-io]
#yaserde = { git = "https://github.com/jondo2010/yaserde.git", branch = "support_xst_lists" }
#yaserde_derive = { git = "https://github.com/jondo2010/yaserde.git", branch = "support_xst_lists" }
#yaserde = { path = "../yaserde/yaserde" }
#yaserde_derive = { path = "../yaserde/yaserde_derive" }
