[workspace]
members = ["fmi_check", "fmi-schema"]

[workspace.package]
license = "MIT OR Apache-2.0"
version = "0.3.0"
edition = "2021"
authors = ["John Hughes <jondo2010@gmail.com>"]

[package]
name = "fmi"
version.workspace = true
authors.workspace = true
edition.workspace = true
include = [
    "/Cargo.toml",
    "/LICENSE-APACHE",
    "/LICENSE-MIT",
    "/README.md",
    "/build.rs",
    "/examples/**",
    "/src/**",
]
description = "A Rust interface to FMUs (Functional Mockup Units) that follow the FMI Standard. See http://www.fmi-standard.org/"
repository = "https://github.com/jondo2010/rust-fmi"
readme = "README.md"
license.workspace = true
keywords = ["model", "ode", "modelica"]
categories = ["science", "simulation"]

[features]
default = ["fmi2", "fmi3"]
fmi2 = ["libc"]
fmi3 = []

[build-dependencies]
cc = "1.0"
built = "0.7"
bindgen = "0.69"

[dependencies]
fmi-schema = { path = "fmi-schema" }
itertools = "0.12"
libc = { version = "0.2", features = ["align"], optional = true }
libloading = "0.8"
log = { version = "0.4", features = ["std", "serde"] }
tempfile = "3.1"
thiserror = "1.0"
url = "2.2"
zip = "0.6"

[dev-dependencies]
assert_approx_eq = "1.1"
csv = "1.0"
env_logger = "0.10"
test-log = "0.2"
ndarray = { version = "*" }
ndarray-linalg = { version = "*" }

[patch.crates-io]
yaserde = { git = "https://github.com/jondo2010/yaserde.git", branch = "support_xst_lists" }
yaserde_derive = { git = "https://github.com/jondo2010/yaserde.git", branch = "support_xst_lists" }
