name: Rust
on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
          submodules: true

      - uses: swatinem/rust-cache@v2

      - name: fetch Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: toolchain version
        run: cargo -vV

      - uses: giraffate/clippy-action@v1
        with:
          reporter: 'github-pr-review'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          clippy_flags: --all-targets --all-features -- -D warnings

      - name: build
        run: cargo build --all --verbose

      - name: test
        run: cargo test --all --verbose
